.detalhe{
  background-color: #5CC2D7;
  display:block;
  width: 20px;
  height: 5px;
  margin-bottom: 10px;
}
.img_apresentacao{
  position: absolute;
  max-width: 100%;
 
}
.texto_apresentacao{
  background-color: #2C2E62;
  width: 40%;
  height: 30%;
  border: 2px;
  position: relative;
  top: 400px;
  left: 40px;
  padding: 40px;
  border-radius: 50% 20% / 10% 40%;
}

.texto_apresentacao h1, h2 {
  color: #EDEDED;
  padding: 0px;
 }

.texto_apresentacao h1{
  font-size: 2.5rem;
  text-transform: uppercase;
}
.texto_apresentacao p{
  color: white;
  font-size: 1.5rem;
  
}

@media (max-width:1000px){
   .texto_apresentacao {
    top: 300px;

  }
  .texto_apresentacao h1{
    font-size: 1.5rem;
  }
  .texto_apresentacao p{
    font-size: 1rem;
  }
}

@media (max-width:800px){
  .texto_apresentacao {
   top: 300px;
   width: 300px;
   padding: 30px;
   margin-left: 150px;
 }
 .texto_apresentacao h1,p{
  font-size: 1.5rem;
}

}


@media (max-width:750px){
  .texto_apresentacao {
   top: 290px;
   width: 400px;
   padding: 20px;
   margin-left: 70px;
 }
 
}
@media (max-width:600px){
  .texto_apresentacao {
   top: 230px;
   width: 400px;
   padding: 20px;
   margin-left: 30px;
 }
 
}

@media (max-width:500px){
  .texto_apresentacao {
   top: 200px;
   width: 250px;
   padding: 20px;
   margin-left: 60px;
 }

 .texto_apresentacao h1,p{
  font-size: 1rem;
 }
 
}